img{
    width:20%;
    border-radius: 0 50%;
    float:left;
}

section{
    background-color:lightgray;
}
section header h2{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}